.idea/
build/
test_data/
3ds/000400000009FA00 Freakyforms Deluxe - Your Creations, Alive\! (CTR-P-ATQE) (v0.0.0) (W).piratelegit.cia
3ds/00040000000ED100 Senran Kagura Burst (CTR-N-AVHE) (v0.0.0) (W).piratelegit.cia
3ds/00040000000F4500 Senran Kagura Burst (CTR-P-AVHP) (v0.0.0) (W).piratelegit.cia
github personal access token
