body {background-color: black; margin-right: 25%;}
* {font-family: Arial, Helvetica, sans-serif;}
a:link {font-size: 120%; line-height: 1.4; color: blue; text-decoration: none;}
a:visited {font-size: 120%; line-height: 1.4; color: #90f; text-decoration: underline;}
a:hover {font-size: 120%; line-height: 1.4; font-style: italic; text-decoration: underline; color: aqua;}
a:active {font-size: 120%; line-height: 1.4; color: red; text-decoration: underline;}
/* * {color: white;} */
strong {color: red;}
button {color: black;}
h1 {color:blue;}
p {font-size: 90%; margin-right: 25px; color: white;}
/* span {} */
i {color: inherit; font-family: inherit;}
/* classes */
.hidden {color: black; cursor: default; font-size: 95%;}
.hide {color: black; font-size: 95%;}
.hid {color: #111;}
.warning {color: red; font-size: 125%;}
.info {color: #00ff00; background-color: #f00; font-family: lucida console; text-align: center; display: block; margin: 10px; font-size: 250%; cursor: default;}
.link {font-size: inherit; font-family: inherit; color: blue;}
.link:hover {color: #90f; font-style: italic; cursor: pointer;}