body {background-color: black;}
* {font-family: Arial, Helvetica, sans-serif;}
strong {color: red;}
h1 {color:blue; font-family: 'Times New Roman', Times, serif;}
p {font-size: 90%; margin-right: 25px; color: white;}
i {color: inherit; font-family: inherit;}
/* classes */
.hidden {color: black; cursor: default;}
.warning {color: #f00; font-size: 125%;}
.info {color: #00ff00; background-color: #f00; font-family: lucida console; text-align: center; display: block; margin: 10px; font-size: 250%; cursor: default;}
.link {font-size: inherit; font-family: inherit; color: blue;}
.link:hover {color: #9900ff; font-style: italic; cursor: pointer;}