body {background-color: black; width: 793.7px; margin: auto;}
* {font-family: Arial, sans-serif}
a:link {color: blue;}
a:visited {color: #90f;}
a:active {color: red;}
strong {color: red;}
h1 {font-family: 'Times New Roman', Times, serif; font-size: 350%; text-align: center; padding-top: 15mm; padding-bottom: 15mm; background: radial-gradient(#000, #000, #aaa, #aaa);}
h2 {font-size: medium; text-align: center;}
p {text-indent: 0.5in; font-size: 80%; word-spacing: 1px; letter-spacing: 0.5px; padding:10mm;}
pre {word-spacing: 1px; letter-spacing: 0.5px; font-size: 14.4px; padding:10mm; text-wrap: inherit; background: #aaa;}
i {color: inherit;}
span {text-indent: 0.5in;}
br {margin-left: 0.5in;}
i {color: inherit; font-family: inherit;}

/* classes */
.new-para {margin-left: 0.5in;}
.warning {color: red; font-size: 125%;}
.info {color: #00ff00; background-color: #f00; font-family: lucida console; text-align: center; display: block; margin: 10px; font-size: 250%; cursor: default;}
.link {font-size: inherit; font-family: inherit; color: blue;}
.link:hover {color: #90f; font-style: italic; cursor: pointer;}
.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -163px;
    transition: 0.3s;
    background: linear-gradient(90deg, #111, #000); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 5px;
    text-align: left;}
.sidebar:hover{
    left: 0px;
}

/*  fuck
    4u(k
    fu(k
    FUCK*/